/* Fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #ffffff, #4d94ff, #fd5656);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div#info {
    background-color: rgba(255, 255, 255, 0.9) ;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

h1 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.datetime {
    font-size: 20px;
    font-weight: bold;
    color: #34495e;
}

.datetime::before {
    content: "Hora Local: ";
    color: #16a085;
}

